POSTGRES_USER=franckkiemde
POSTGRES_PASSWORD=saturn123
POSTGRES_DB=saturn-db
DATABASE_URL=postgresql://franckkiemde:saturn123@db:5432/saturn-db?schema=public
JWT_SECRET=Je8vous7aime6papa8et8maman6j'espère8vivre8longtemps8avec8vous8et8être8présent8pour8mes8frèreset8soeurs.
ALLOWED_ORIGINS=http://localhost:3000,http://localhost
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=Je8vous7aime6papa8et8maman6j'espère8vivre8longtemps8avec8vous8et8être8présent8pour8mes8frèreset8soeurs.
